<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Some River</title>
</head>
<body>
    <div id="root">
        {% for value in Africa_river %}
        <div>Name: {{ value.name }}</div>
        <div>Continent: {{ value.continent }}</div>
        <div>Length: {{ value.length }}</div>
        <div>---------------------</div>
        {% endfor %}
    </div>    
</body>
</html>