<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/bike_rental.css">
    <title>Bike Rental Service</title>
</head>
<body>
    <div id = "root">
        <form action="" class ="allbike" method="POST">
            <div id=bikeform>
                <br>Model:<br>
                <input type="text" class="input_choice" name="Model" placeholder="e.g.Honda">
                <br>Daily fee (VND):<br>
                <input type="text" class="input_choice" name="Daily fee" placeholder="100.000">
                <br>Image:<br>
                <input type="text" class="input_choice" name="Image" placeholder="e.g. http://honda...">
                <br>Year:<br>   
                <input type="text" class="input_choice" name="Year" placeholder="e.g.2018">                     
            </div>
            <br><br>
            <button id="subbut">Submit</button>
        </form>    
    </div>
    
</body>
</html>